* {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
}

.head-line {
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
    height: 75px;
}

.logo {
    display: inline-block;
    width: 115px;
    height: 38px;
}
